<div class="outer">
    <div class="title">
=[$Title]
    </div>
    <div class="poc">
        <span class="label">Point of Contact: </span><a href="='mailto:'+[$Email]">=[$Point_x0020_of_x0020_Contact_x00]</a>
    </div>
    <div class="status">
        <span class="label">Project Status: </span><span class="emphasis">=[$ProjectStatus]</span>
    </div>
    <div class="start">
        <span class="label">Project Start: </span><span class="emphasis">=toLocaleDateString([$StartDate])</span>
    </div>
    <div class="end">
        <span class="label">Project End: </span><span class="emphasis">=toLocaleDateString([$EndDate])</span>
    </div>
    <div class="sponsor clear">
        <span class="label">Primary PMA: </span><span class="emphasis">=[$PrimaryPMA]</span>
    </div>
    <div class="objective">
        <div class="label">Project Objective:</div>
        <div>
=[$ProjectObjective]
        </div> 
    </div>
    <div class="description">
        <div class="label">Description:</div>
        <div>
=[$Project_x0020_Description]
        </div>
    </div>
</div>