.outer {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #eee;
    display: block;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
}


.title {
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
}

.poc {
    font-size: 1.2em;
}

.emphasis {
    font-style: italic;
}

.label {
    color: #333;
    font-weight: 100;
}

.clear {
    clear: both;
}

.start {
    float: left
}

.end {
    float: right
}

a {
    color: teal;
}

.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: initial;
    display: inline-block;
    padding: .5em;
    margin-top: 1em;
    border: 1px solid #111;
    border-radius: 3px;
    cursor: pointer;
    background-color: #004E8C;
    color: #fff;
    box-shadow: 1px 1px 2px black;
}

.sp-btn {
    border: 0;
    font-size: 1em;

}